{% load static %}
<link rel="stylesheet"
      href="{% static 'css/site.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FirstHome{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Header -->
    {% include 'partials/header.html' %}

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'partials/footer.html' %}

</body>
</html>